@page
@model taskApp.Pages.LoginModel
@{
}
    <style>
        html,
        body {
          height: 100%;
        }

        .form-signin {
          max-width: 330px;
          padding: 1rem;
        }

        .form-signin .form-floating:focus-within {
          z-index: 2;
        }

        .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
    </style>


<main class="form-signin w-100 m-auto">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">Iniciar Sesi&oacute;n</h1>

    <div class="form-floating">
        <input type="email" id="email" placeholder="Email"  class="form-control" name="email" asp-for="Email" required />
        <label for="email">Email</label>
    </div>
    <div class="form-floating">
        <input type="password" id="floatingPassword" placeholder="Password"  class="form-control" name="password" asp-for="Password" required />
        <label for="floatingPassword">Contraseña:</label>
    </di>

    <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Iniciar</button>
  </form>
</main>